<h1 class="text-center mt-5">Solicitar valet parking</h1>
<div class="contenedor">
    <h3>Llegada</h3>
    <div class="formulario">
        <h4>No. de reservación</h4>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="No. de reservación" wfd-id="519">
        <h4>Hora de llegada</h4>
        <div class="form-group col" wfd-id="291">
            <select class="form-select" wfd-id="292">
            <option selected="">Seleccione</option>
            <option value="1">11:00</option>
            <option value="2">11:15</option>
            <option value="3">11:30</option>
            <option value="1">11:45</option>
            <option value="2">12:00</option>
            <option value="3">12:15</option>
            </select>
        </div>
        <h4>Observaciones</h4>
        <textarea class="form-control" id="exampleTextarea" rows="3" wfd-id="530"></textarea>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Solicitar</a>
          </p>
    </div>
</div>
<div class="contenedor">
    <h3>Salida</h3>
    <div class="formulario">
        <h4>No. de habitación</h4>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="No. de habitación" wfd-id="519">
        <h4>Hora de salida</h4>
        <div class="form-group col" wfd-id="291">
            <select class="form-select" wfd-id="292">
            <option selected="">Seleccione</option>
            <option value="1">11:00</option>
            <option value="2">11:15</option>
            <option value="3">11:30</option>
            <option value="1">11:45</option>
            <option value="2">12:00</option>
            <option value="3">12:15</option>
            </select>
        </div>
        <h4>Observaciones</h4>
        <textarea class="form-control" id="exampleTextarea" rows="3" wfd-id="530"></textarea>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Solicitar</a>
          </p>
    </div>
</div>