<h1 class="text-center mt-5">Reservar una mesa</h1>
<div class="formulario">
    <h3 class="text-center mt-5">Número de cubiertos</h3>
    <div class="form-group col" wfd-id="291">
        <select class="custom-select" wfd-id="292">
        <option selected="">Seleccione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="1">4</option>
        <option value="2">5</option>
        <option value="3">6</option>
        </select>
    </div>
    <div class="row mt-5 ml-1 mr-1">
        <div class="form-group col" wfd-id="291">
            <select class="custom-select" wfd-id="292">
            <option selected="">Día</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group col" wfd-id="291">
            <select class="custom-select" wfd-id="292">
            <option selected="">Mes</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group col" wfd-id="291">
            <select class="custom-select" wfd-id="292">
            <option selected="">Año</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
    </div>
    <h3 class="text-center mt-5">Hora</h3>
    <div class="form-group col" wfd-id="291">
        <select class="custom-select" wfd-id="292">
        <option selected="">Seleccione</option>
        <option value="1">11:00</option>
        <option value="2">11:15</option>
        <option value="3">11:30</option>
        <option value="1">11:45</option>
        <option value="2">12:00</option>
        <option value="3">12:15</option>
        </select>
    </div>
</div>