<router-outlet></router-outlet>

<router-outlet></router-outlet>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!--Título principal-->
            <a class="navbar-brand" style="margin-right: 400px;"><i class="fas fa-plane fa-3x"></i></a>
            <a class="navbar-brand" href="/" style="font-size: 80px;">Administrador</a>

            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                </ul>
                <form class="d-flex">
                <button class="btn btn-outline-success btn-lg" type="submit">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </nav>

    <!--Botones de control-->
    <div class="container-fluid">
        <div class="row bg-dark text-white p-3">
            <!--Grupo de botones-->
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                    <i class="fa fa-tasks"></i> Clientes <span class="caret"></span>
                </button>  
                <button type="button" class="btn btn-light" data-toggle="dropdown">
                    <i class="fa fa-lightbulb"></i> Beneficios <span class="caret"></span>
                </button>          
                <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i> Bandeja de entrada <span class="caret"></span>
                </button>  
                <button type="button" class="btn btn-light" data-toggle="dropdown">
                    <i class="fa fa-question-circle"></i> Lista clientes <span class="caret"></span>
                </button>    
            </div>
        </div>        
    </div>

    <!--Espaciado-->
    <ul style="margin-top: 40px;">
        <h1> </h1>
    </ul>

    <div class="container-fluid">
        <div class=" bg-dark text-white p-3">
            <button class="btn btn-outline-light btn-lg" style="margin-bottom: 10px;" (click)="addData(newName, newCorreo, newContra)">Ingresar nuevo usuario</button>
            <form class="d-flex flex-row">            
                <input class="form-control me-2" type="text" #newName placeholder="Nombre" aria-label="Search">
                <input class="form-control me-2" type="text" #newCorreo placeholder="Correo" aria-label="Search">
                <input class="form-control me-2" type="text" #newContra placeholder="Contraseña" aria-label="Search">
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class=" bg-dark text-white p-3 text-center">
            <table class="table table-bordered ">
                <thead class="text-light bg-success"  style="background-color: rgba(92, 91, 91, 0.933); border-color: black;">
                    <tr style="border: solid 2px;">
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Usuario</th>
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Correo</th>
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Contraseña</th>
                    </tr>
                </thead>
                <tbody style="background-color: white;" *ngFor="let nme of name; let i = index">
                    <tr  style="border: solid 2px;">
                        <th scope="row"  style="border: solid 2px;">{{name[i]}}</th>
                        <td  style="border: solid 2px;">{{cor[i]}}</td>
                        <td  style="border: solid 2px;">{{cont[i]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ul></ul>
    <div class="container-fluid">
        <div class=" bg-dark text-white p-3">
            <button class="btn btn-outline-light btn-lg" style="margin-bottom: 10px;" >Mostrar reservación usuario</button>
            <table class="table table-bordered ">
                <thead class="text-light bg-primary"  style="background-color: rgba(92, 91, 91, 0.933); border-color: black;">
                    <tr style="border: solid 2px;">
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Reservación</th>
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Usuario</th>
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Habitación</th>
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Tiempo</th>
                        <th scope="col"  style="border: solid 2px; font-size:larger;">Coste</th>
                    </tr>
                </thead>
                <tbody style="background-color: white;">
                    <tr  style="border: solid 2px;">
                        <th scope="row"  style="border: solid 2px;">1</th>
                        <td  style="border: solid 2px;">Mark</td>
                        <td  style="border: solid 2px;">Otto</td>
                        <td  style="border: solid 2px;">@mdo</td>
                        <td  style="border: solid 2px;">dd</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ul>
        <label for="floatingTextarea" style="margin-left: 75px;"></label>
    </ul>
</body>