<h1 class="text-center mt-5">Limpieza de habitación</h1>
<div class="container">
    <input class="mt-5" placeholder="Número de habitación">
    <table class="table table-hover mt-5">
        <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Número</th>
            <th scope="col">Estado</th>
            <th scope="col">Empleado</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
            <th scope="row">t15</th>
            <td>15</td>
            <th scope="row">
                <div class="custom-control custom-switch" wfd-id="296">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" wfd-id="497">
                    <label class="custom-control-label" for="customSwitch1" wfd-id="297">Limpia</label>
                </div>
            </th>
            <th scope="row">
                <div class="form-group" wfd-id="291">
                    <select class="custom-select" wfd-id="292">
                    <option selected="">Seleccione</option>
                    <option value="1">Luisa</option>
                    <option value="2">Camila</option>
                    <option value="3">Debora</option>
                    </select>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
</div>